# --- Python файлы и кэш ---
__pycache__/
*.py[cod]
*$py.class

# --- Виртуальное окружение ---
venv/
ENV/
env/
.env

# --- Ваша пользовательская папка ---
some/

# --- Логи и базы данных (полезное дополнение) ---
*.log
*.sqlite3

# --- Настройки IDE (например, PyCharm или VS Code) ---
.idea/
.vscode/
